.DelivaryCollection-heading{
    font-size: 45px;
    font-weight: 600;
    /* margin: 2rem; */
    margin-bottom: 1rem;
    color: rgb(51, 49, 49);
}
.slick-next:before, .slick-prev:before {
    color: rgb(76, 75, 75);
    font-size: 20px;

}
.max-width{
    width: auto;
    /* background-color: red; */
    margin-right: 10rem;
    margin-left:10rem ;
    padding: 1rem;
    
}
.slick-prev{
    z-index: 1;
}